<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <div>
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title"/>
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
        <br>
        <br>
        <label for="author">Author</label>
        <input type="text" th:field="*{author}" id="author"/>
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
        <br>
        <br>
        <label for="year_production">Year</label>
        <input type="text" th:field="*{year}" id="year_production"/>
        <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error</div>
        <br>
        <br>
        <input type="submit" value="Add new book"/>
    </div>
</form>

</body>
</html>