<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getPersonId()+', '+person.getName()+', '+person.getYear()}">VALUE</p>

<div th:unless="${books.isEmpty()}">
    <hr>
    <a style="font-weight: bold">Books:</a>
    <div th:each="book : ${books}">
        <a th:if="${book.getFLAG() == true}" style="color: red"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Text</a>
        <a th:unless="${book.getFLAG() == true}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Text</a>
    </div>
</div>

<div th:if="${books.isEmpty()}">
    <a>Person have not got any books</a>
</div>

<hr>
<a th:href="@{/people/{person_id}/edit(person_id=${person.getPersonId()})}">
    <input style="margin-top: 10px" type="submit" value="Go to edit">
</a>

<form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getPersonId()})}">
        <input style="margin-top: 10px" type="submit" value="Delete person"/>
</form>

</body>
</html>